@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root[theme="dark"] {
  background-color: rgb(13, 17, 23);
  --theme-btn-color: white;
  --paragraph-color: rgb(214, 214, 214);
  --header-color: white;
  --img-bright: brightness(0.75);
  --img-theme: invert(100%);
  --a-color: white;
  --a-color-hover: rgb(181, 181, 181);
  --a-decoration-color: grey;
}

:root[theme="light"] {
  background-color: white;
  --theme-btn-color: rgb(13, 17, 23);
  --paragraph-color: rgb(85, 85, 85);
  --header-color: black;
  --img-bright: brightness(1);
  --img-theme: invert(0%);
  --a-color: black;
  --a-color-hover: grey;
  --a-decoration-color: rgb(181, 181, 181);
}

/* 1025px and more: Desktop styling */
@media (min-width: 1025px) {
  nav {
    font-size: 2rem;
    padding: 0rem 7rem 0rem 10rem;
  }
  .btn {
    width: 10rem;
  }
  section {
    margin: 2rem 10rem;
  }
  .projects-container {
    padding: 1rem 4rem;
  }
  .project-box {
    width: -webkit-fill-available;
    flex-direction: row;
  }
  .project-title {
    /* this is the project title that is in nav for every proj. */
    font-size: 2.2rem;
  }
  .credits {
    font-size: 1rem;
  }
  .credits-name {
    font-size: 1.25rem;
  }
}

/* 769px — 1024px: Small screens, laptops styling */
@media (max-width: 1024px) {
  body {
    position: absolute;
  }
  nav {
    padding: 0rem 5rem;
  }
  .btn {
    width: 8rem;
  }
  .logo {
    font-size: 2rem;
  }
  .nav-bar-container {
    display: none;
  }
  section {
    margin: 1rem 5rem;
  }
  .projects-container {
    width: fit-content;
  }
  .project-box {
    flex-direction: row;
    width: -webkit-fill-available;
  }
  .project-title {
    font-size: 1.9rem;
  }
  .credits {
    font-size: 0.7rem;
  }
  .credits-name {
    font-size: 0.95rem;
  }
}

/* 481px — 768px: iPads, Tablets styling */
@media (max-width: 768px) {
  body {
    position: absolute;
  }
  nav {
    padding: 0rem 1.5rem;
  }
  .logo {
    font-size: 1.6rem;
  }
  .nav-bar-container {
    display: none;
  }
  section {
    margin: 1rem 5rem;
  }
  .project-box {
    flex-direction: column;
  }
  .project-title {
    font-size: 1.2rem;
  }
  .credits {
    font-size: 0.6rem;
  }
  .credits-name {
    font-size: 0.85rem;
  }
}

/* 320px — 480px: Mobile devices styling */
@media (max-width: 480px) {
  body {
    position: absolute;
  }
  nav {
    width: -webkit-fill-available;
    padding: 0rem 0.5rem;
  }
  .btn {
    width: 6rem;
  }
  .logo {
    font-size: 1.2rem;
  }
  .nav-bar-container {
    display: none;
  }
  section {
    margin: 1rem 0rem;
  }
  .project-box {
    flex-direction: column;
  }
  .project-title {
    font-size: 4vw;
  }
  .credits {
    font-size: 2.5vw;
  }
  .credits-name {
    font-size: 3vw;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: var(--header-color);
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  margin: 1rem;
}

p {
  color: var(--paragraph-color);
}

/* EFFECTS */
.shine-container {
  position: relative;
  overflow: hidden;
  border-radius: 100%;
}

.shine-container::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  height: 200%;
  width: 50px;
  transform: rotate(-20deg);
  left: -20vw;
  top: -100px;
  z-index: 2;
}

.shine-container::before {
  animation: slide 2s;
}

@keyframes slide {
  0%,
  100% {
    left: -20vw;
  }
  50% {
    left: 150%;
  }
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17vh;
}

.nav-bar {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: var(--a-color);
  text-decoration: none;
}

a:hover {
  color: var(--a-color-hover);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: var(--a-decoration-color);
}

.logo {
  color: var(--header-color);
}

.logo:hover {
  cursor: default;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  box-sizing: border-box;
  min-height: fit-content;
  /* NOTE: for the sections that are not meant to be centered like: index.html/#project 
  use display: block to ignore the format below*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pretitle-p {
  text-align: center;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  border-radius: 2rem;
}

.btn-color1 {
  border: rgb(53, 53, 53) 0.1rem solid;
  background: none;
  color: var(--theme-btn-color);
}

.btn-color1:hover {
  background: rgb(53, 53, 53);
  color: white;
  border: rgb(255, 255, 255) 0.1rem solid;
  cursor: pointer;
}
.theme-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.theme-switch {
  color: var(--theme-btn-color);
  background: transparent;
  border: var(--theme-btn-color) 0.2rem solid;
}

.theme-switch:hover {
  background-color: var(--theme-btn-color);
  color: var(--theme-btn-color);
}

#colorMode {
  cursor: pointer;
}

/* PROFILE SECTION */

#profile {
  /* this is only for the section id="profile" so it look CV like*/
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pfp-container {
  position: relative;
  margin-bottom: 1rem;
}

.main-pfp {
  position: relative;
  z-index: 1;
  transition: all 500ms ease;
}

.main-pfp:hover {
  opacity: 0;
}

.sub-pfp {
  top: 0;
  position: absolute;
}

#pfp {
  border-radius: 100%;
  display: flex;
  width: 20rem;
  filter: var(--img-bright);
}

.profession-p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
  filter: var(--img-theme);
}

/* PROJECTS */
#projects {
  display: block;
}

.projects-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-box {
  border: 2px solid var(--header-color);
  border-radius: 2rem;
  padding: 1rem 4rem 1rem 4rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

.project-btn:hover {
  cursor: pointer;
  background: rgb(53, 53, 53);
  color: white;
  border: rgb(255, 255, 255) 0.1rem solid;
}

.project-title {
  text-align: left;
}

.credits {
  display: flex;
  flex-direction: row;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}
.footer-nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer p {
  text-align: center;
}
