/* 1025px and more: Desktop styling */
@media (min-width: 1025px) {
  #program {
    margin: 2rem 0rem;
  }
  video {
    width: 120vh;
  }
  .program-info {
    font-size: 1.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
  }
  .program-description {
    font-size: 1.9rem;
    padding: 2rem;
  }
}

/* 769px — 1024px: Small screens, laptops styling */
@media (max-width: 1024px) {
  #program {
    margin: 2rem 0rem;
  }
  video {
    width: 80vh;
  }
  .program-info {
    font-size: x-large;
  }
  .program-description {
    font-size: x-large;
  }
}

/* 481px — 768px: iPads, Tablets styling */
@media (max-width: 768px) {
  #info {
    height: 70vh;
  }
  #program {
    height: 30vh;
    margin: 2rem 0rem;
  }
  video {
    width: 80vw;
  }
  .program-info {
    font-size: 0.8rem;
  }
  .program-description {
    font-size: 1rem;
  }
}

/* 320px — 480px: Mobile devices styling */
@media (max-width: 480px) {
  #program {
    height: 30vh;
  }
  #info {
    height: 68vh;
  }
  #program {
    margin: 2rem 0rem;
  }
  video {
    width: 80vw;
  }
  .program-info {
    font-size: 0.8rem;
    margin: 0rem 1rem;
  }
  .program-description {
    font-size: 1rem;
    margin: 0rem 1rem;
  }
}

.program-container {
  padding: 2vh;
  display: flex;
  border: rgb(53, 53, 53) 0.2rem solid;
  border-radius: 2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  justify-content: center;
  align-items: center;
}

video {
  border-radius: 1rem;
}

.program-info {
  border: rgb(53, 53, 53) 0.2rem solid;
  border-radius: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.program-description {
  border: rgb(53, 53, 53) 0.2rem solid;
  border-radius: 2rem;
  text-align: left;
  padding: 0rem 1rem 1rem 1rem;
}

.program-description > h3 {
  padding: 1rem 0rem 0rem 0rem;
}
